[fan_generic BED_FAN]
pin: gpio18  # Replace with the actual pin for your chamber fan
max_power: 1.0
kick_start_time: 0.100
cycle_time: 0.010
hardware_pwm: False

# [duplicate_pin_override]
# pins: gpio26

# [temperature_sensor CHAMBER]
# sensor_pin: gpio26
# sensor_type: Generic 3950 #NTC 100K MGB18-104F39050L32
# min_temp: 10
# max_temp: 80
# gcode_id: C

# [heater_generic CHAMBER_HEATER]
# sensor_type: Generic 3950
# sensor_pin: gpio26
# control: watermark
# # pid_Kp: 10
# # pid_Ki: 0.1
# # pid_Kd: 50
# heater_pin: gpio0   # Important: null disables actual output
# min_temp: 0
# max_temp: 60

# [verify_heater CHAMBER_HEATER]
# max_error: 500         # Allow more tolerance before error (optional, for slower verification)
# check_gain_time: 600   # 10 minutes for verification time
# hysteresis: 20         # Allow temperature fluctuation within 10°C (optional, for more tolerance)
# heating_gain: 5        # Heater only needs to increase by 5°C over the 10-minute period


[gcode_macro CHAMBER_FANS_ON]
gcode:
  {% set temp = params.TARGET|default(40)|float %}
  {% set delta = temp - 20 %}
  {% set wait_time = (delta if delta > 0 else 0) * 30 %}
  SET_FAN_SPEED FAN=BED_FAN SPEED=1
  M118 Waiting { wait_time } seconds ({ delta }° over 20°C)
  G4 S{wait_time}
  SET_FAN_SPEED FAN=BED_FAN SPEED=0.75
  
[gcode_macro CHAMBER_FANS_OFF]
gcode:
  SET_FAN_SPEED FAN=BED_FAN SPEED=1
  G4 S{300}
  SET_FAN_SPEED FAN=BED_FAN SPEED=0
  