# [fan_generic BED_FAN]
# pin: gpio18  # Replace with the actual pin for your chamber fan
# max_power: 1.0
# kick_start_time: 0.100
# cycle_time: 0.010
# hardware_pwm: False

# [temperature_sensor CHAMBER]
# sensor_pin: gpio26
# sensor_type: Generic 3950 #NTC 100K MGB18-104F39050L32
# min_temp: 10
# max_temp: 80
# gcode_id: C

[heater_generic CHAMBER_HEATER]
sensor_type: Generic 3950
sensor_pin: gpio26
control: pid
pid_Kp: 10
pid_Ki: 0.1
pid_Kd: 50
heater_pin: gpio18   # Important: null disables actual output
min_temp: 10
max_temp: 80

[verify_heater CHAMBER_HEATER]
max_error: 500         # Allow more tolerance before error (optional, for slower verification)
check_gain_time: 600   # 10 minutes for verification time
hysteresis: 10         # Allow temperature fluctuation within 10°C (optional, for more tolerance)
heating_gain: 5        # Heater only needs to increase by 5°C over the 10-minute period


[gcode_macro CHAMBER_AUTO_HEAT]
gcode:
  {% if "TARGET" not in params %}
    M117 Missing TARGET. Usage: CHAMBER_AUTO_HEAT TARGET=<temp>
    RETURN
  {% endif %}

  {% set target_chamber = params.TARGET|float %}
  {% if target_chamber < 30 or target_chamber > 70 %}
    M117 Invalid TARGET: Must be 30–70°C
    RETURN
  {% endif %}

  M117 Chamber preheat to {target_chamber}°C
  # SET_FAN_SPEED FAN=BED_FAN SPEED=1.0
  TEMPERATURE_WAIT SENSOR="Generic 3950 CHAMBER_HEATER" TARGET=target_chamber
  M117 Chamber at temp. Reducing fan.
  # SET_FAN_SPEED FAN=BED_FAN SPEED=0.6

