[led_effect stand-by-led]
autostart:              true
frame_rate:             24
leds:
  neopixel:skr-rgb (1-20)    
  
layers:
    gradient 0.5 3 top (1.0,  0.0, 0.0),(0.8,  0.1, 0.1)

[led_effect idle_time_rgb]
frame_rate:             24
leds:
  neopixel:skr-rgb (1-20)    
  
layers:
    static 0 1 top (0.01,  0.0, 0.0)

[gcode_macro stand_by_on]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=stand-by-led
    # set_nozzle_leds_on

[gcode_macro stand_by_off]
gcode:
    SET_LED_EFFECT EFFECT=stand-by-led STOP=1
    # set_nozzle_leds_on

[gcode_macro idle_time_out]
gcode:
    STOP_LED_EFFECTS
    SET_FAN_SPEED FAN=BED_FAN SPEED=0.0
    SET_LED_EFFECT EFFECT=idle_time_rgb
    # set_nozzle_leds_on